.img-fixed{
   width: 70%;
}

.col{
   //background: cyan;
   align-self: center;
}

.insta{
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 10px;
   //padding-top: 10px;
   width:100%;
   box-shadow: 1px 1px rgba(160, 160, 160, 0.453);
}

.right{
  margin-right: 10px;
  margin-left: auto;
  align-self: center;
  margin-bottom: -10px;
}

.icon-above{
   position:absolute;
   bottom: 0px;
   right: 120px;
   height: 40px;
   width: 40px;
}

.image{
   position: relative;
}

.margin{
   margin: auto;
   margin-bottom: 10px;
}

.margin-bottom{
   margin-bottom: 0px;
   margin-top: 0px;
}

.padding-left{
   margin: auto;
   padding-left: 15px
}

.dark{
   color: #000000;
}

.center-right{
   align-self: center;
   text-align: right;
}

.opac{
   --background : #fff3f2;
   
}

.size{
   width: 40px;
   height: auto;
}
