<ion-header no-border #header>
  <ion-toolbar mode="ios">
    <ion-title class="title-pinky-red">
      Feed
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged($event)" scrollable="true">
      <ion-segment-button value="feed" checked>
        <ion-label>Feed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="explore">
        <ion-label>Explore</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content [scrollEvents]="true" appHideheader [header]="header">





  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'feed'">


      <!-- <div>
        <ion-grid>
          <ion-row>
            <ion-col size=2>
              <ion-avatar>
                <img src="../assets/dot.svg">
              </ion-avatar>
            </ion-col>
            <ion-col>
              Nama
            </ion-col>
          </ion-row>
        </ion-grid>
      </div> -->

      <ion-card class="insta">
        <ion-item>
          <ion-avatar item-start>
            <img src="../assets/user.svg">
          </ion-avatar>
          <p class="padding">Hazimi Muhamad</p>
          <div class="right">
            <ion-badge color="warning" mode="ios">Verified</ion-badge>
          </div>
        </ion-item>
        <div class="image">
          <img src="../assets/shoes.jpg">
          <div class="icon-above">
            <ion-buttons>
              <ion-button shape="round" >
                <ion-icon name="heart-empty" color="light"></ion-icon>
                <ion-badge color="primary" mode="ios">5.5k
                </ion-badge>
              </ion-button>
              <ion-button shape="round" (click)="toastOnce()">
                <ion-icon name="add" color="light"></ion-icon>
                <ion-badge color="primary" mode="ios">2k
                </ion-badge>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
        <div>
          <ion-row>
            <ion-col>
              <p class="larger bold padding-left">RM 220.00</p>
              <p class="bold padding-left dark">Pre-Loved Shoes</p>
            </ion-col>
            <ion-col class="center-right">
              <ion-button shape="round" fill="clear" class="opac" routerLink="/categorydetails">
                <ion-icon slot="end" name="exit"></ion-icon>View Item
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>

      <ion-card class="insta">
        <ion-item>
          <ion-avatar item-start>
            <img src="../assets/user.svg">
          </ion-avatar>
          <p class="padding">Hazimi Muhamad</p>
          <div class="right">
            <ion-badge color="warning" mode="ios">Verified</ion-badge>
          </div>
        </ion-item>
        <div class="image">
          <img src="../assets/skirt4.jpg">
          <div class="icon-above">
            <ion-buttons>
              <ion-button shape="round">
                <ion-icon name="heart-empty" color="light"></ion-icon>
                <ion-badge color="primary" mode="ios">5.5k
                </ion-badge>
              </ion-button>
              <ion-button shape="round" (click)="toastOnce()">
                <ion-icon name="add" color="light"></ion-icon>
                <ion-badge color="primary" mode="ios">2k
                </ion-badge>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
        <div>
          <ion-row>
            <ion-col>
              <p class="larger bold padding-left">RM 220.00</p>
              <p class="bold padding-left dark">Pre-Loved Skirt</p>
            </ion-col>
            <ion-col class="center-right">
              <ion-button shape="round" fill="clear" class="opac" routerLink="/categorydetails">
                <ion-icon slot="end" name="exit"></ion-icon>View Item
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>

        <ion-card class="insta">
        <ion-item>
          <ion-avatar item-start>
            <img src="../assets/user.svg">
          </ion-avatar>
          <p class="padding">Hazimi Muhamad</p>
          <div class="right">
            <ion-badge color="warning" mode="ios">Verified</ion-badge>
          </div>
        </ion-item>
        <div class="image">
          <img src="../assets/skirt3.jpg">
          <div class="icon-above">
            <ion-buttons>
              <ion-button shape="round">
                <ion-icon name="heart-empty" color="light"></ion-icon>
                <ion-badge color="primary" mode="ios">5.5k
                </ion-badge>
              </ion-button>
              <ion-button shape="round" (click)="toastOnce()">
                <ion-icon name="add" color="light"></ion-icon>
                <ion-badge color="primary" mode="ios">2k
                </ion-badge>
              </ion-button>
            </ion-buttons>
          </div>
        </div>
        <div>
          <ion-row>
            <ion-col>
              <p class="larger bold padding-left">RM 220.00</p>
              <p class="bold padding-left dark">Pre-Loved Skirt</p>
            </ion-col>
            <ion-col class="center-right">
              <ion-button shape="round" fill="clear" class="opac" routerLink="/categorydetails">
                <ion-icon slot="end" name="exit"></ion-icon>View Item
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-card>
    </div>


    <div *ngSwitchCase="'explore'">
      <ion-searchbar></ion-searchbar>
      <ion-grid>
        <ion-row>
          <ion-col class="center col">
            <lottie-player autoplay loop src="../assets/empty.json">
            </lottie-player>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="center col">
            <p>You haven't follow anyone yet...</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list>
        <ion-item-group>
          <ion-item-divider>
            <p class="bold">EXPLORE</p>
          </ion-item-divider>
        </ion-item-group>
      </ion-list>
      <ion-grid>
        <!-- <ion-row>
      <ion-col color="primary" size="2">text</ion-col>
      <ion-col color="primary" size="2">text</ion-col>
      <ion-col color="primary">text</ion-col>
    </ion-row> -->
        <ion-row>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" routerLink="/agent" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
        </ion-row>
        <ion-row>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
        </ion-row>
        <ion-row>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
        </ion-row>
        <ion-row>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
        </ion-row>
        <ion-row>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
          <ion-col color="primary" class="center"><img src="../assets/alert.svg" /></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>