.title-pinky-red {
  color: #f50587;
}

p {
  font-weight: bold;
  color: black;
  //padding-left: 10px;
  //padding-right: 10px;
}

.x-small {
  font-size: x-small;
}

.small {
  font-size: small;
}
.rounded {
  border-radius: 10px;
}

.text-above-image {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  opacity: 1;
  background: #000;
  color: #fff;
}
.sc-ion-card-md-h {
  color: #e8005f;
  box-shadow: 0 3px 3px 3px rgba(206, 206, 206, 0.377),
    0 2px 2px 0 rgba(206, 206, 206, 0.377),
    0 1px 5px 0 rgba(206, 206, 206, 0.377);
}

ion-card-subtitle {
  color: white;
}

.image-overlay {
  position: relative;
}
