<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title class="title-pinky-red">
      the Almari
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <!-- <ion-buttons slot="secondary"> </ion-buttons>
    <ion-button expand="block">Search</ion-button>
    <ion-buttons slot="primary">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <p class="bold">HOME</p>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>
  <ion-slides [options]="sliderConfig" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)" pager="true">
    <ion-slide>
      <ion-card tappable="true" class="ion-activatable rounded">
        <img src="../assets/az.png" />
        <div class="text-above-image">
          <ion-card-subtitle>
            Grab this Pre-Loved item from
          </ion-card-subtitle>
          <ion-card-content>
            AERIL ZAFREL
          </ion-card-content>
        </div>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card tappable="true" class="ion-activatable rounded">
        <img src="../assets/wed.png" class="image-overlay" />
        <div class="text-above-image">
          <ion-card-subtitle>
            Last promo for
          </ion-card-subtitle>
          <ion-card-content>
            WEDDING CELEBRATION
          </ion-card-content>
        </div>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card tappable="true" class="ion-activatable rounded">
        <img src="../assets/shirt.png" />
        <div class="text-above-image">
          <ion-card-subtitle>
            Today only
          </ion-card-subtitle>
          <ion-card-content>
            SHIRT MADNESS!
          </ion-card-content>
        </div>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <br>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card tappable="true" class="ion-activatable" routerLink="/shirt">
          <img src="../assets/aaron.png" />
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
          <ion-card-content>
            <ion-card-subtitle>
              <p class="x-small title-pinky-red bold">DISCOVER BAJU MELAYU</p>
              <p class="small black">
                Search for the most authentic and popular Baju Melayu for you!
              </p>
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card tappable="true" class="ion-activatable">
          <img src="../assets/zizan.png" />
          <ion-ripple-effect type="bounded"></ion-ripple-effect>
          <ion-card-content>
            <ion-card-subtitle>
              <p class="x-small title-pinky-red bold">DISCOVER CAP</p>
              <p class="small black">Grab pre-loved cap from your beloved Artist.</p>
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <p class="bold">BROWSE</p>
      </ion-item-divider>
    </ion-item-group>
  </ion-list>

  <div>
    <p class="title-pinky-red padding">SPECTACLES</p>
  </div>
  <div class="ion-activatable">
    <ion-card tappable="true" class="rounded">
      <img src="../assets/spec.png" />
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-card>
  </div>
  <div>
    <p class="title-pinky-red padding">SHIRT</p>
  </div>
  <div class="ion-activatable">
    <ion-card tappable="true" class="rounded">
      <img src="../assets/aarons.png" />
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-card>
  </div>
  <div>
    <p class="title-pinky-red padding">JACKET</p>
  </div>
  <div class="ion-activatable">
    <ion-card tappable="true" class="rounded">
      <img src="../assets/spec.png" />
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-card>
  </div>
  <div>
    <p class="title-pinky-red padding">TROUSERS</p>
  </div>
  <div class="ion-activatable">
    <ion-card tappable="true" class="rounded">
      <img src="../assets/spec.png" />
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-card>
  </div>
</ion-content>