<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-title class="title-pinky-red">
      Notifications
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="center">
        <lottie-player autoplay src="../assets/no-notifications.json">
        </lottie-player>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="center">
        <p>You have no notifications...</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
