// .cardSize{
//     width: auto;
//     height: auto;
// }

.border-radius{
    border-radius :20px
}

.padding-right{
    right: 10px;
    position: absolute;
    margin: auto;

}

.center-right{
    align-self: center;
    text-align: right;
 }

 .margin-bottom{
     margin-bottom: 0px;
 }

 .align-items{
     align-items: center;
 }